body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.banner {
  background: orange;
  padding: 10px;
  font-weight: bold;
}

input, textarea, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
}